# fly.toml app configuration file generated for cloudconvert-local on 2026-01-28T22:29:57+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'cloudconvert-local'
primary_region = 'sin'

[build]

[env]
  NODE_ENV = "production"
  PORT = "8080"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[mounts]
  source = "uploads_data"
  destination = "/app/uploads"

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
